@import url('https://fonts.googleapis.com/css?family=Open-sans:400,500,600,700,800,900&display=swap');

body {
  font-family: 'Open sans', sans-serif;
  background-color: #22262b;
  color: #acb2be;
}

.dropdown-toggle::after {
  display: none;
}