/* COLORS:
 - Main/Learning: #53d1af
 - Reputation: #9c58ff
 - Background: #22262b
 */

/* BUTTONS */

.btn-code {
  background-color: #1f2325;
  border-color: #1f2325;
  border-radius: .25rem;
  color: #fff;
  font-family: 'Inconsolata', monospace;
  margin-right:1em;
}

.btn-code:hover {
  background-color: #292e31;
  border-color: #292e31;
  color: #fff;
}

.btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* PRIMARY BUTTON */
.btn-primary,
.btn-primary:focus,
.btn-primary:active {
  color: white;
  text-shadow: none; /* Prevent inheritance from `body` */
  border: 2px solid #53d1af;
  background-color: #53d1af;
  text-shadow:0px 0px 7px #438774ab;
}

.btn-primary:hover {
  background-color: #53d1af;
  color: white;
  border: 2px solid white;
}

.btn-text {
  padding: 10px 40px;
}

.btn-text:hover {
  border: .05rem solid #53d1af;
}


/* LONG BUTTON */
.btn-outline-primary {
  border-color: #53d1af!important;
  cursor: pointer;
  color: #53d1af!important;
  font-weight: 500;
  padding: 10px 40px;
}

.btn-outline-primary:hover {
  color: #343a40!important;
  background-color: #53d1af!important;
  border-color: #53d1af!important;
  cursor: pointer;
}

.btn-dark {
  color: white;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #252830;
  border: .05rem solid #252830;
  padding: 10px 40px;
  font-weight: 700;
  margin: 0 4px;
}

.btn-dark:hover{
  background-color: black;
}

.btn-dark-outline {
  color: rgba(255,255,255,.3);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: none;
  border: 1.6px solid rgba(255,255,255,.3);
  padding: 10px 40px;
  margin: 0 4px;
}

.btn-dark-outline:hover{
  background-color: rgba(255,255,255,.3);
  color:black;
  cursor: pointer;
}

.btn-white-outline{
  color: white;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: none;
  border: 1.6px solid white;
  border-radius: 60px;
  padding: 8px 30px;
  font-weight: 700;
  margin: 2px 4px;
}

.btn-white-outline:hover{
  background-color: white;
  color:#53d1af;
}

.btn-start,
.btn-start:focus,
.btn-start:active {
	box-shadow: 0px 0px 8px -2px #53d1af;
	background:linear-gradient(to bottom, #53d1af 5%, #1cb086 100%);
	background-color:#53d1af;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1.5rem;
	font-weight:bold;
	padding:17px 45px;
	text-decoration:none;
	text-shadow:0px 0px 7px #438774;
}

.btn-start:hover {
	color:#ffffffe5;
	background:linear-gradient(to bottom, #1cb086 5%, #53d1af 100%);
	background-color:#1cb086;
}

/* Button End */

.card-lite h4{
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

.card-lite h6{
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
}

.card-lite p{
  color: rgba(0, 0, 0, 0.8)
}

.mb-5 {
  margin-bottom: 2rem !important;
}
.mb-6 {
  margin-bottom: 2.5rem !important;
}
.mb-7 {
  margin-bottom: 3rem !important;
}
.mb-8 {
  margin-bottom: 4rem !important;
}

/* Font colors */
.dark-white {
  color: rgba(255,255,255,.8);
}
.dark-white a{
  color: rgba(255,255,255,.8);
}
.earning-color {
  color: #ffcc00;
}
.learning-color{
  color: #53D1AF;
}
.learning-color-muted{
  color: rgba(83, 209, 175, 0.4);
}
.light-black {
  color: rgba(0, 0, 0, 0.8)
}
.muted {
  opacity: .3;
}
.muted-dark {
  color: rgba(255,255,255,.3);
}
.muted-dark a{
  color: rgba(255,255,255,.3);
}
.teaching-color {
  color: #9c58ff;
}
.white {
  color:white;
}

/* Font colors */

/* Font sizes end */
.fs-1{
  font-size:1em!important;
}

/* Font sizes end */


.help {
  color: rgba(255,255,255,.3);
  font-style: italic;
  margin-top: 0.5em;
}

.modal-title {
  font-weight: 600;
}

.navbar-main {
  background-color: #343a40;
}

.objective-box {
  border: 1px solid #6AD5BF;
  border-radius: .25rem;
  margin: 2em 0;
  padding: 1em;
}

.objective-box h5 {
  color:rgb(106,213,191);
}

.objective-box img {
  padding-bottom: 0.6em;
  width: 30px;
}
.site-wraper{
  margin: 2em 3em 4em 3em;
}

.small-shadow{
  box-shadow:
    0 1px 3px 0 rgba(0,0,0,.2), 
    0 1px 1px 0 rgba(0,0,0,.14),
    0 2px 1px -1px rgba(0,0,0,.12);
}

.small-shadow-no-hover{
  box-shadow:
    0 1px 3px 0 rgba(0,0,0,.2), 
    0 1px 1px 0 rgba(0,0,0,.14),
    0 2px 1px -1px rgba(0,0,0,.12);
}

.small-shadow:hover{
  box-shadow:
  0 5px 5px -3px rgba(0,0,0,.2), 
  0 8px 10px 1px rgba(0,0,0,.14), 
  0 3px 14px 2px rgba(0,0,0,.12);
}

.big-shadow{
  box-shadow:
  0 5px 5px -3px rgba(0,0,0,.2), 
  0 8px 10px 1px rgba(0,0,0,.14), 
  0 3px 14px 2px rgba(0,0,0,.12);
}


@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  .site-wraper{
    margin: 2em 0px 2em 0px;
  }
}