@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item,
.nav-logo,
.nav-brand {
  @apply inline-block align-middle text-base;
}

.nav-item {
  @apply font-normal mx-3.5 opacity-70 hover:opacity-100;
}

.nav-brand {
  @apply font-semibold mr-3.5;
}


.content-wrapper {
  @apply xl:w-10/12 lg:w-10/12 md:w-10/12 sm:w-10/12 w-11/12 mx-auto max-w-7xl;
}



body,
.text-default {
  @apply text-gray-900;

  font-family: "Graphik", sans-serif;
  font-feature-settings: "ss01" 1, "ss02" 1;
}

body {
  font-weight: 400;
}

.message-bubble {
  @apply w-72 p-8 rounded-3.5xl relative text-base;

  background: #FEFCE8;
  color: #713F12;
}

.message-bubble::before {
  width: 0;
  height: 0;
  left: -28px;
  content: "";
  position: absolute;
  border-left: 28px solid transparent;
  bottom: 0;
  border-right: 28px solid transparent;
  border-bottom: 28px solid #FEFCE8;
}



@media only screen and (min-width: 992px) {
  .quadratic-card {
    @apply p-8 mb-5;

    width: calc(50% - 10px);
  }
}


.text-with-links > a {
  @apply underline;
}

input {
  @apply p-2 border border-solid border-gray-200 block mx-auto;
}

button {
  @apply bg-primary outline-none focus:outline-none cursor-pointer relative px-4 py-2 text-white rounded-full;
}